body {
    background-image: url('background.jpg');
    background-size: cover; /* Adjust to cover the entire viewport */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
}

h1 {
    text-align: center;
    background-color: #fff;
}